html
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #282828;
}

#logo
{
    color: #C2C2C2;
    text-decoration: solid;
    text-align: center;
    font-size: 300%;
    width: 25%;
    border: 3px solid transparent;
    background-color: #282828;
    border-radius: 15px;
    transition: 150ms ease-in;
    cursor:default;
    margin-bottom: 10px;
}
#logo:hover
{
    font-size: 340%;
    background-color: #C2C2C2;
    color: #282828;
}


.general_align {
    width: 100%;
    background-color: #C2C2C2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.b1 {
    background-color: #282828;
    color: #C2C2C2;
    margin: 5px;
    font-family: monospace;
    border: 3px solid transparent;
    border-radius: 5px;
    font-size: 170%;
    height: 90%;
    width: 20%;
    flex-grow: 1;
    transition: 200ms ease-in;
}

.b1:hover {
    background-color: #C2C2C2;
    color: #282828;
    font-size: 200%;
    cursor: pointer;
}

#SignInForm {
    font-family: monospace;
    width: 50%;
    background-color: #C2C2C2;
    background-image: linear-gradient(to bottom right, #C2C2C2, #7d7d7d);
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    margin: 0 auto;
}

.input_creds
{
    margin: 5px;
    font-family: monospace;
    font-size: 150%;
    height: 50px;
    width: 90%;
    border: 0px solid transparent;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid transparent;
}

.input_creds:hover
{
    border: 2px solid #282828;
}

.input_creds::placeholder
{
    padding-left: 2px;
}

.b2
{
    background-color: #282828;
    color: #C2C2C2;
    justify-content: right;
    margin: 5px;
    font-family: monospace;
    font-size: 150%;
    height: 40px;
    width: 50%;
    border: 0px solid transparent;
    border-radius: 10px;
    padding-left: 10px;
    transition: 100ms ease-in;
}

.b2:hover
{
    background-color: #C2C2C2;
    color: #282828;
    font-size: medium;
    border: 3px solid #282828;
    cursor: pointer;
}

h3
{
    color: #C2C2C2;
}

a{
    color: inherit;
    text-decoration: inherit;
}